* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background: url("./images/Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  width: 100%;
  height: 130px;
  z-index: 2000;
  box-shadow: 0 4px 4px rgb(139, 139, 236), 0 10px 0 rgba(0, 0, 0, 0.26);
  padding: 20px;
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-color: skyblue;
  color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

header h1 {
  font-size: 50px;
}

header nav {
  float: right;
}

/* header nav ul li {
  display: inline-block;
  padding: 0 30px;
  font-size: 30px;
  line-height: 100px;
}

header nav ul li :hover {
  color: grey;
}

.content:after {
  content: "";
  display: block;
  clear: both;
}

aside {
  width: 15%;
  background-color: #e0f3d0;
  position: fixed;
  top: 130px;
  bottom: 0;
  width: 150px;
  padding-top: 40px;
}
  aside ul {
    width: 150px;
  }
    aside ul li {
      display: block;
      color: brown;
      padding: 8px 0 8px 16px;
    }
section  {
  margin-top: 130px;
  float: right;
  margin-left: 130px;
}

  .section1 {
    justify-content: center;
    display: flex;
  } 
    .daesang {
      width: 170px;
      height: 180px;
      border-radius: 50%;
      padding: 20px 20px 20px 20px;
    }
    
    .section1 p {
      margin-top: 30px;
      margin-bottom: 100px;
      font-size: 20px;
    }

  .section2 {
    font-style: italic;
    font-weight: bold;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  } */

  /* .section2 a {
    margin-top: 60px;
    font-size: 20px;
    display: flex;
  } */

  /* .section2Div {
    max-width: 300px;
    max-height: 300px;
    margin: 30px;
    object-fit: cover;
  
  } */
  
  /* .hoverimage {
    width: 300px;
    height: 150px;
    object-fit: scale-down; */
    /* object-fit: cover;
    display: block;
    height: 300px;
    width: 300px; */
  /* } */
    /* .overlay {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgb(137, 148, 149);
    }

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .hoverimage {
      display: block;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: beige;
    }
    
    #overlay3:hover .overlay {
      opacity: 1;
    }
    
    .text2 {
      color: brown;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
      
      
      /* #project1Image, #project2Image, #project3Image, #project4Image {
        border: 5px skyblue;
      }  */


footer {
  position: fixed;
  width: 100%;
  margin-bottom: 0px;
  font-weight: bolder;
  display: flex;
  padding: 20px;
  text-align: left;
  background: rgb(248, 177, 177);
} 


