* {
  padding: 0;
  margin: 0;
}
html {
  background: url("./images/Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

header {
  padding: 20px;
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-color: skyblue;
  color: black;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
}

header nav {
  display: inline;
  margin-left: 25px;
}

header nav ul li {
  font-size: 20px;
  float: left;
  margin-inline-start: 10px;
  margin-top: 10%;
  list-style-type: none;
}

aside {
  flex: 30%;
  background-color: #e0f3d0;
  padding: 20px;
  flex-wrap: wrap;
}

.content  {
  display: flex;
  flex-direction: column;
}

  .section1 {
    justify-content: center;
    display: flex;
  } 
    .daesang {
      width: 170px;
      height: 180px;
      border-radius: 50%;
      padding: 20px 20px 20px 20px;
    }
    
    .section1 p {
      margin-top: 30px;
      margin-bottom: 100px;
      font-size: 20px;
    }

  .section2 {
    font-style: italic;
    font-weight: bold;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .section2 a {
    margin-top: 60px;
    font-size: 20px;
    display: flex;
  }

  .project1 {
    background-image: url("./images/project1.png");
    min-height: 300px;
    min-width: 500px;
    background-size: cover;
    margin: 50px 50px 50px 50px;
  }

  .project2 {
    background-image: url("./images/homework1.png");
    min-height: 300px;
    min-width: 500px;
    background-size: cover;
    margin: 50px 50px 50px 50px;
  }

  .project3 {
    background-image: url("./images/Homework3.png");
    min-height: 300px;
    min-width: 500px;
    background-size: cover;
    margin: 50px 50px 50px 50px;
  }
footer {
  font-weight: bolder;
  display: flex;
  padding: 20px;
  text-align: left;
  background: rgb(221, 121, 121);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}